/* My Custom Styles */
.menu {
  background-color: #433d3c;
  display: block;
  line-height: 2rem;
  padding: 1rem 0;
  text-align: left;
}

.text {
  display: inline-block;
  font-size: 1rem;
  margin: auto;
  text-align: center;
}

.img {
  background-image: url("shell-bckgrnd.png");
  color: #fcf8ec;
  display: block;
  font-family: fantasy;
  font-size: 1rem;
  height: 50rem;
  line-height: 4rem;
  margin: 1rem;
}

.footer {
  background-color: #393e46;
  display: block;
  line-height: 2rem;
  margin: 1rem;
  text-align: left;
}

.copyright, .link-color {
  color: #fcf8ec;
}

.bottom-container {
  background-color: #433d3c;
  display: block;
  line-height: 2rem;
  padding: 1rem 0;
}

body {
  background-image: url("bg-img.png");
  color: #fcf8ec;
  font-family: fantasy;
  margin: auto;
  text-align: center;
}
