/* My Custom Styles */
.menu {
  background-color: #433d3c;
  border-collapse: separate;
  border-spacing: 0 1rem;
  display: block;
  height: 2rem;
  margin: 1rem;
  text-align: left;
}

.text {
  display: inline-block;
  margin: auto;
  text-align: center;
}

.img {
  background-image: url("shell-bckgrnd.png");
  color: #f05454;
  display: block;
  font-family: lobster;
  height: 50rem;
  line-height: 4rem;
  margin: 1rem;
}

.footer {
  display: block;
  line-height: 2rem;
  margin: 1rem;
  text-align: left;
}

body {
  /*background-image: url("sky-blue.jpeg");*/
  /*background-color: #0278ae;*/
  background-color: #433d3c;
  color: #fcf8ec;
  font-family: fantasy;
  margin: auto;
  text-align: center;
}
